name: test

on: [push]

jobs:
  test:
    name: Run spec
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: ruby/setup-ruby@v1
      with:
        ruby-version: 3.0.1
        bundler-cache: true
    - name: Run spec
      run: |
        bundle exec rspec spec

